    html, body {
        margin: 0 auto;
        padding: 1px;
        font-family: 'Roboto', sans-serif;
        background-color: #FFF;
    }


    .head {
        background-color: #0d7336;
        color: #eee;
        box-sizing: border-box;
        width: 100%;
        height: 32px;
        line-height: 32px;
        font-size: 17px;
        padding: 0 16px;
    }

    .select {
        width: 100%;
        box-sizing: border-box;
        padding: 8px;
        font-size: 17px;
    }

    /* ====== Header ====== */
    .header {
        background: #494d55;
        color: rgba(255, 255, 255, 0.85);
        border-top: 5px solid #75c181;
        padding: 30px 0;
        text-align: center;
    }

    .header a {
        color: #fff;
    }

    .branding {
        text-transform: uppercase;
        margin-bottom: 10px;
    }

    .branding .text-highlight {
        color: #75c181;
    }

    .branding .text-bold {
        color: #fff;
    }

    button {
        padding: 8px;
        margin: 8px;
    }

    fieldset {border-radius: 6px;border:1px solid #dddddd}
    fieldset legend {font-size:12px;padding: 4px 8px; border-radius: 8px;background-color: #aaaaaa; color:white}
    .green {
        background-color: #75c181;
        color: #fff;
        border: 1px solid #75c181;
    }

    h2 {
        font-size: 1.2em;
        padding: 8px 0;
        margin: 0
    }
